body{
    background-color: pink;
}
.image-1{
    height: 800px;
}
#img-2{
    width: 1000px;
}
.link-text{
    color: rgb(255, 255, 255);
}
.bg-img{
    background-image: url(./images/shutterstock_1926352175.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}