body{
    background-color: pink;
}
.image-1{
    height: 800px;
}
#img-2{
    width: 1000px;
}
.link-text{
    color: rgb(255, 255, 255);
}
.bg-img{
    background-image: url(./images/shutterstock_1926352175.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}
.sp{
    text-transform: capitalize;
}
button{
    padding:5px 15px 0 30px;
    border-radius: 5px;
    border-top-left-radius: 20px;
}
.tit{
    text-align: center;
    text-decoration: underline;
    text-shadow: 10px 10px 3px black;
}